.Navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 67%;
    margin-top: 10%;
}

.Navbar a {
    font-size: 20px;
    font-weight: bold;
    width: 145px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
    text-decoration: none;
    border-radius: 30px;
}

.Navbar a:hover {
    cursor: pointer;
    background-color: rgba(92, 157, 197, 0.39);
    color: rgb(255, 159, 68);
}

.Navbar button {
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
    background: none;
    border: none;
    width: 145px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: absolute;
    margin-left: 410px;
    margin-top: 500px;
}

.Navbar button:hover {
    cursor: pointer;
    background-color: rgba(71, 69, 69, 0.171);
    color: rgb(255, 43, 43);
}

red .Logout {
    display: flex;
    background-color: black;
}

.Profile {
    display: flex;
    justify-content: space-around;
}

.Profileimg {
    display: flex;
    justify-content: space-around;
    margin-right: 21%;
}

.Homeimg {
    display: flex;
    justify-content: space-around;
    margin-right: 22%;
}

.Uploadimg {
    display: flex;
    justify-content: space-around;
    margin-right: 20%;
    padding-left: 5%;
}