.Home {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    padding-top: 50px;
    border-style: solid;
    border-width: 1px;
    background-color: black;
    border-color: rgb(47, 51, 54);
}

.Background {
    background-color: black;
    color: black;
}

.Border {
    display: flex;
    width: 600px;
    height: 10px;
    background-color: rgb(29, 32, 34);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(47, 51, 54);
}

.Post {
    width: 600px;
    height: auto;
    display: grid;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
}


.Image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Image img {
    width: 100%;
    display: flex;
}

.Name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.Content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.Title {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    width: 100%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.Description {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin-left: 20px;
    color: rgb(119, 110, 110);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.Author {
    padding-right: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.Like {
    color: rgb(47, 51, 54);
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 3px;
    margin-right: 5px;
    background-color: black;
    margin-top: 2px;
}

.Like :hover {
    cursor: pointer;
    color: white;
}

.Like :active {
    color: rgb(47, 51, 54)
}

.Alike {
    display: flex;
    flex-direction: row;
}

.Amount {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: flex;
    padding-top: 5px;
    padding-right: 5px;
    justify-content: flex-end;
}